@page
@model List<CourseViewModel>



<h1>Catalogo Corsi</h1>

@foreach (CourseViewModel course in Model)
{
    <div class="row">
        <div class="col-md-1">
            <img src="@course.ImagePath">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <author>di @course.Author</author>
        </div>
        <div class="col-md-2">
            @for (int i = 1; i < 5; i++)
            {
                if (course.Rating >= i)
                {
                    <i class="fa fa-star" aria-hidden="true"></i>
                }
                else if (course.Rating > i - 1)
                {
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                }
            }

        </div>
        <div class="col-md-2">
            <s>EUR @course.FullPrice</s> <br> EUR @course.CurrentPrice
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.Id">Dettaglio del corso
                @course.Id</a>
        </div>
    </div>
}
